.app-header {
  background-color: #65296F;
  display: flex;
  padding-left: 15px !important;
  align-items: flex-start;
}

.logo-header {
  width: 50px;
}

.app-header_text {
  margin-bottom: 7px !important;
  color: white !important;
  left: auto;
  margin-left: fill !important;
}
.login {
  bottom: 0;
  left: 0;
  margin-left: auto;
}
.MuiIconButton-edgeStart {
    margin-left: -12px;
}
.app-menu__link {
  color: #595959;
  font-family: sans-serif;
  margin-right: 1rem;
  margin-top: 10px;
  text-decoration: none;
}
.MuiButtonBase-root .MuiButton-root .MuiButton-text .app-header_text{
  margin-top: 10px;
}
